body{
    background-color: gray;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(255, 255, 255);
}

h1, h2{
    text-align: center;
    color: whitesmoke;
}

p, ul{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 20px;
}


img{
    display: block;
    margin: auto;
}

footer{
    text-align: center;
}
